/*
1. Body and html should cover 100% of the screen. This is good to have to manage the margins.
*/
html,
body {
  /* Picked up as a standarad from CSS tricks */
  /* Which means that we do not want to repeat the image, want to keep it centre and fixed */
  /* So, this line will stretch or fill the page with the image that we will supply */
  /* Very usefull becuase this will always keep the image centered. */
  background: url(headerimage.jpg) no-repeat center center fixed; 
  background-size: cover;
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;

}

hr {
  margin: 20px auto;
  color: #F05F44;
  border: 3px solid #F05F44;
  /* By default the line will be full page but we can control the width of the line */
  max-width: 65px;
  opacity: 1;
}

h1 {
  font-size: 3rem; 
  color: #e2dbdb;
}

.buffer {
  height: 10rem;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  /*Make the edges of the button circular  */
  border-radius: 300px;
}

.btn-primary {
  background-color: #F05F44;
  border-color: #F05F44;
  --bs-btn-hover-bg: #ee4b08;
  --bs-btn-hover-border-color: #ee4b08; 
}

.btn-primary:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 4px;
  cursor: pointer;
}

.btn-xl {
  padding: 1rem 2rem; 
}

